---
import MotionLink from "./react/MotionLink";
import SponsorButton from "./react/SponsorButton";

interface Props {
  showSectionNav?: boolean;
}

const navLinks: { href: string; label: string }[] = [
  { href: "#about", label: "ABOUT" },
  { href: "#experience", label: "EXPERIENCE" },
  { href: "#projects", label: "PROJECTS" },
  { href: "#contact", label: "CONTACT" },
];

const { showSectionNav = true } = Astro.props;
---

<header
  class="sticky top-0 z-50 h-24 w-full bg-[#EAF5EB]-600/40 backdrop-blur-md drop-shadow-2xlshadow-2xs border-b border-[#e7faeb] border-opacity-50"
>
  <div class="flex items-center  justify-between py-4 px-6">
    <div class="flex gap-8">
      <a
        href="/"
        class="font-mono font-bold text-2xl tracking-tighter transition-colors"
      >
        Morning<span class="text-[#388E3C]">Star</span>
      </a>
      {
        showSectionNav && (
          <nav class="hidden md:flex items-center h-16">
            {navLinks.map((link) => (
              <a
                href={link.href}
                class="px-4 lg:px-5 h-full flex items-center lg:text-[14px] tracking-widest transition-all hover:text-[#388E3C] font-semibold"
              >
                {link.label}
              </a>
            ))}
          </nav>
        )
      }
    </div>

    <div class="flex gap-8">
      <SponsorButton client:load />
      {
        showSectionNav ? (
          <MotionLink client:load href="#chat" className="">
            EXEC_AI_CHAT
          </MotionLink>
        ) : (
          <MotionLink client:load href="/" className="">
            RETURN_HOME
          </MotionLink>
        )
      }
    </div>
  </div>
</header>
